@font-face {
  font-family: "P22UndergroundCYProHeavy";
  src: url("./fonts/P22UndergroundCYProHeavy.woff") format("woff"),
    url("./fonts/P22UndergroundCYProHeavy.woff2") format("woff2");
}
@font-face {
    font-family: "GothamNarrSSm-XLight";
    src: url("./fonts/Gotham.woff") format("woff"),
      url("./fonts/Gotham.woff2") format("woff2");
}