@charset "UTF-8";
.container {
  max-width: vw(1200);
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "P22UndergroundCYProHeavy";
  src: url("./scss/fonts/P22UndergroundCYProHeavy.woff") format("woff"), url("./scss/fonts/P22UndergroundCYProHeavy.woff2") format("woff2");
}

@font-face {
  font-family: "GothamNarrSSm-XLight";
  src: url("./scss/fonts/Gotham.woff") format("woff"), url("./scss/fonts/Gotham.woff2") format("woff2");
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66%;
}

.col-10 {
  width: 83.33%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66%;
}

.col-7 {
  width: 58.33%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-4 {
  width: 33.33%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66%;
}

.col-1 {
  width: 8.88%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.header {
  background: url(./img/method-bg.png) center;
  background-size: 120%;
  padding: 3.66032vw 5.85652vw;
  background-color: #141414;
}

.header__content {
  text-align: center;
  position: relative;
  height: 100vmin;
}

.header__video {
  width: 100%;
  height: 100%;
}

.header__title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  font-size: 4.39239vw;
  font-weight: 900;
  color: #fff;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.number {
  height: 100vmin;
  background: url(./img/hero-bg.png) center no-repeat;
  background-size: cover;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
  color: white;
}

.number .container {
  height: 100%;
}

.number__wrapper {
  background: url(./img/number__img.png) center no-repeat;
  background-size: contain;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #141414;
  width: 87.84773vw;
  margin: 0 auto;
}

.number__img {
  max-width: 100%;
}

.number__info {
  font-size: 7.46706vw;
  font-weight: 700;
}

.number__title {
  margin-top: 5.85652vw;
  font-size: 3.51391vw;
  font-weight: 900;
}

.method {
  background: url(./img/method-bg.png) center no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.32064vw 0 6.58858vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #141414;
  background-size: 100%;
}

.method__text {
  max-width: 45.38799vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.method__title {
  font-size: 2.19619vw;
  font-weight: 300;
  color: #ffff;
  font-family: "GothamNarrSSm-XLight", "sans-serif";
  padding: 2.92826vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.method__description {
  font-size: 1.31772vw;
  font-weight: 300;
  color: #ffff;
  font-family: "GothamNarrSSm-XLight", "sans-serif";
}

@media screen and (max-width: 425px) {
  .method {
    padding: 13.02083vmin 0 11.71875vmin 0;
  }
  .method__text {
    max-width: 80.72917vmin;
  }
  .method__title {
    font-size: 3.90625vmin;
  }
  .method__description {
    font-size: 2.34375vmin;
  }
  .method__img {
    width: 23.4375vmin;
  }
}

.footer {
  background: url(./img/footer-bg.png) center no-repeat;
  background-size: 120%;
  height: 100vmin;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
  background-color: #e8e8e8;
}

.footer__right {
  max-width: 40.33675vw;
  position: relative;
  z-index: 1;
}

.footer__right::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#25f4ee), to(#fe2c55));
  background: linear-gradient(#25f4ee, #fe2c55);
  z-index: -1;
  -webkit-transform: skew(1deg, 1deg);
          transform: skew(1deg, 1deg);
}

.footer__sidebar {
  margin-bottom: 4.02635vw;
  margin-left: 7.68668vw;
}

.footer__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.92826vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__subtitle {
  font-size: 1.75695vw;
  font-weight: 600;
  color: #141414;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.footer__title {
  font-size: 2.04978vw;
  font-weight: 800;
  color: #141414;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.footer__form {
  width: 35.72474vw;
  height: 35.72474vw;
  padding: 2.19619vw 4.31918vw 2.19619vw 5.19766vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__input {
  height: 2.92826vw;
  border: none;
  outline: none;
  border-bottom: 0.07321vw solid #141414;
  padding: 0.73206vw 1.0981vw 0.73206vw 1.0981vw;
  color: #141414;
}

.form__input::-webkit-input-placeholder {
  font-size: 1.31772vw;
  font-weight: 400;
  color: #141414;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.form__input:-ms-input-placeholder {
  font-size: 1.31772vw;
  font-weight: 400;
  color: #141414;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.form__input::-ms-input-placeholder {
  font-size: 1.31772vw;
  font-weight: 400;
  color: #141414;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.form__input::placeholder {
  font-size: 1.31772vw;
  font-weight: 400;
  color: #141414;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.form__number {
  padding-left: 5.85652vw;
  position: relative;
}

.form__button {
  width: 100%;
  background: #141414;
  font-size: 1.75695vw;
  font-weight: 500;
  color: #ffff;
  padding: 1.46413vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "P22UndergroundCYProHeavy", "sans-serif";
}

.form__title {
  font-size: 2.19619vw;
}

.form__description {
  font-size: 1.1713vw;
  font-weight: 300;
  color: #838383;
}

.dropdown {
  display: inline-block;
  position: absolute;
  position: relative;
  width: 4.02635vw;
  bottom: 4.39239vw;
  left: 0.51245vw;
}

.dropdown::after {
  content: "▼";
  font-size: 0.73206vw;
  font-family: arial;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 4.39239vw;
}

.dropdown__content .active {
  display: block;
  overflow-y: scroll;
}

.dropdown__img {
  width: 100%;
}

.dropdown .active {
  display: block;
  overflow-y: scroll;
  height: 6.22255vw;
}

@media screen and (max-width: 425px) {
  .footer {
    height: auto;
  }
  .footer__left {
    width: 100%;
    text-align: center;
  }
  .footer__sidebar {
    margin-bottom: 9.76562vmin;
    margin-left: 0;
  }
  .footer__right {
    max-width: 71.74479vmin;
  }
  .footer__row {
    padding-top: 5.20833vmin;
  }
  .footer__form {
    width: 63.54167vmin;
    height: 63.54167vmin;
    padding: 3.90625vmin 7.68229vmin 3.90625vmin 9.24479vmin;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__form::-webkit-input-placeholder {
    font-size: 2.60417vmin;
  }
  .footer__form:-ms-input-placeholder {
    font-size: 2.60417vmin;
  }
  .footer__form::-ms-input-placeholder {
    font-size: 2.60417vmin;
  }
  .footer__form::placeholder {
    font-size: 2.60417vmin;
  }
  .footer__title {
    font-size: 3.64583vmin;
  }
  .footer__subtitle {
    font-size: 3.125vmin;
  }
  .form__input {
    height: 13.02083vmin;
    padding: 1.30208vmin 1.95312vmin 1.30208vmin 1.95312vmin;
  }
  .form__input::-webkit-input-placeholder {
    font-size: 2.34375vmin;
  }
  .form__input:-ms-input-placeholder {
    font-size: 2.34375vmin;
  }
  .form__input::-ms-input-placeholder {
    font-size: 2.34375vmin;
  }
  .form__input::placeholder {
    font-size: 2.34375vmin;
  }
  .form__number {
    padding-left: 10.41667vmin;
  }
  .form__title {
    font-size: 3.90625vmin;
  }
  .form__description {
    font-size: 2.08333vmin;
  }
  .form__button {
    font-size: 3.125vmin;
    padding: 2.60417vmin 0;
  }
  .dropdown {
    bottom: 7.16146vmin;
    left: 0.91146vmin;
  }
  .dropdown .active {
    height: 11.06771vmin;
  }
  .dropdown .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown__leabel {
    height: 10px;
  }
}

@media screen and (max-width: 425px) {
  .dropdown {
    bottom: 7.8125vmin;
    left: 1.82292vmin;
  }
  .dropdown::after {
    top: 60%;
  }
}

@media screen and (max-width: 375px) {
  .dropdown {
    bottom: 8.46354vmin;
    left: 1.95312vmin;
  }
  .dropdown::after {
    top: 65%;
  }
}

@media screen and (max-width: 320px) {
  .dropdown {
    bottom: 9.11458vmin;
    left: 1.95312vmin;
  }
}
/*# sourceMappingURL=index.css.map */