@font-face {
  font-family: "P22UndergroundCYProHeavy";
  src: url("./P22UndergroundCYProHeavy.woff") format("woff"),
    url("./P22UndergroundCYProHeavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "GothamNarrSSm-XLight";
    src: url("./Gotham.woff") format("woff"),
      url("./Gotham.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }