.footer {
    background: url(./img/footer-bg.png) center no-repeat;
    background-size: 120%;
    height: 100vmin;
    font-family: $underground;
    background-color: #e8e8e8;
    &__right {
        max-width: vw(551);
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            @include position(absolute, -2px, -2px, -2px, -2px);
            background: linear-gradient(#25f4ee, #fe2c55);
            z-index: -1;
            transform: skew(1deg, 1deg);
        }
    }
    &__sidebar {
        margin-bottom: vw(55);
        margin-left: vw(105);
    }
    &__row {
        align-items: center;
        padding-top: vw(40);
        box-sizing: border-box;
        justify-content: center;
    }
    &__subtitle {
        @include font(vw(24), 600, $color-black);
        font-family: $underground;
    }
    &__title {
        @include font(vw(28), 800, $color-black);
        font-family: $underground;
    }
    &__form {
        width: vw(488);
        height: vw(488);
        padding: vw(30) vw(59) vw(30) vw(71);
        flex-direction: column;
        background-color: $color-white;
        justify-content: space-around;
        box-sizing: border-box;
    }
}

.form {
    &__input {
        height: vw(40);
        border: none;
        outline: none;
        border-bottom: vw(1) solid $color-black;
        padding: 0 vw(15);
        color: $color-black;
        &::placeholder {
            @include font(vw(18), 400, $color-black);
            font-family: $underground;
        }
    }
    &__number {
        padding-left: vw(80);
        position: relative;
    }
    &__button {
        width: 100%;
        background: $color-black;
        @include font(vw(24), 500, $color-white);
        padding: vw(20) 0;
        box-sizing: border-box;
        font-family: $underground;
    }
    &__title {
        font-size: vw(30);
    }
    &__description {
        @include font(vw(16), 300, $color-gray);
    }
}

.dropdown {
    display: inline-block;
    position: absolute;
    position: relative;
    width: vw(55);
    bottom: vw(60);
    left: vw(7);
    &::after {
        content: "▼";
        font-size: vw(10);
        font-family: arial;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
    }
    &__content {
        display: none;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        width: vw(60);
        & .active {
            display: block;
            overflow-y: scroll;
        }
    }
    &__img {
        width: 100%;
    }
    & .active {
        display: block;
        overflow-y: scroll;
        height: vw(85);
    }
}

// MEDIA








@media screen and (max-width: 425px) {
    .footer {
        height: auto;
        &__left {
            width: 100%;
            text-align: center;
        }
        &__sidebar {
            margin-bottom: vmin(75);
            margin-left: 0;
        }
        &__right {
            max-width: vmin(551);
        }
        &__row {
            padding-top: vmin(40);
        }
        &__form {
            width: vmin(488);
            height: vmin(488);
            padding: vmin(30) vmin(59) vmin(30) vmin(71);
            box-sizing: border-box;
            &::placeholder {
                font-size: vmin(20);
            }
        }
        &__title {
            font-size: vmin(28);
        }
        &__subtitle {
            font-size: vmin(24);
        }
    }
    .form {
        &__input {
            height: vmin(100);
            padding: 0 vmin(15);
            &::placeholder {
                font-size: vmin(18);
            }
        }
        &__number {
            padding-left: vmin(80);
        }
        &__title {
            font-size: vmin(30);
        }
        &__description {
            font-size: vmin(16);
        }
        &__button {
            font-size: vmin(24);
            padding: vmin(20) 0;
        }
    }
    .dropdown {
            bottom: vmin(55);
            left: vmin(7);
        & .active {
            height: vmin(85);
        }
            & .active {
            display: flex;
            flex-direction: column;
            }
        &__leabel {
            height: 10px;
        }
    }
}

@media screen and (max-width: 425px) {
    .dropdown {
        bottom: vmin(60);
        left: vmin(14);
        &::after {
            top: 60%;
        }
    }
}

@media screen and (max-width: 375px) {
    .dropdown {
        bottom: vmin(65);
        left: vmin(15);
        &::after {
            top: 65%;
        }
    }
}

@media screen and (max-width: 320px) {
    .dropdown {
        bottom: vmin(70);
        left: vmin(15);
    }
}