.footer{
    background: url(./img/footer-bg.png) center no-repeat;
    background-size: cover;
    height: 100vmin;
    &__sidebar {
        margin-bottom: vw(75);
    }
    &__row {
        align-items: center;
        padding-top: vw(40);
        box-sizing: border-box;
        justify-content: center;
    }
    &__subtitle {
        @include font(vw(24), 600, $color-black)
    }
    &__title {
        @include font(vw(28), 800, $color-black);
        margin: 0;
    }
    &__form {
        width: vw(490);
        height: vw(490);
        padding: vw(50) vw(60) vw(30) vw(30);
        flex-direction: column;
        background-color: $color-white;
        justify-content: space-around;
    }
    &__right {
        max-width: vw(551);
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            @include position(absolute, -2px, -2px, -2px, -2px);
            background: linear-gradient(#25f4ee, #fe2c55);
            z-index: -1;
            transform: skew(1deg, 1deg);
        }
    }
}

.form {
    &__input {
        height: vw(40);
        border:none;
        outline: none;
        border-bottom: vw(1) solid $color-black;
        padding: 0 vw(15);
        color: $color-black; 
        &::placeholder {
            @include font (vw(18),400, $color-black)
        }
    }
    &__number{
        padding-left: vw(100);
        position: relative;
    }
    &__button {
        width: 100%;
        background: $color-black;
        @include font(vw(24), 500, $color-white);
        padding: vw(20) 0;
        box-sizing: border-box;
    }
    &__description {
        @include font(vw(16), 300, $color-gray);
    }
}
.select-sim {
    width: vw(55);
    height: vw(25);
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    left: vw(28);
    bottom: vw(230);
    z-index: 1;
}
.select-sim::after {
  content:"▼";
  font-size:0.5em;
  font-family:arial;
  position:absolute;
  top:50%;
  right:5px;
  transform:translate(0, -50%);
  cursor: pointer;
  
}
.select-sim.active{
  overflow:visible;
}
.select-sim:hover .options .option label {
  display:inline-block;
}
.select-sim.active .options {
  background:white;
  border:1px solid #ccc;
  position:absolute;
  top:-1px;
  left:-1px;
  width:100%;
  height:vw(88);
  overflow-y:scroll;
}

@mixin mobile($screen-width) {
	@media screen and (max-width: 425px) {
		.footer {

        }
	}
}