.method {
    background: url(./img/method-bg.webp) center;
    background-size: 120%;
    height: 100vmin;
    align-items: center;
    &__text {
        max-width: vw(620);
        flex-direction: column;
        align-items: center;
        padding: vw(100) 0 vw(85) 0;
    }
    &__title {
        @include font(vw(30), 300, $color-white);
        font-family: $gotham;
        padding: vw(40) 0;
        box-sizing: border-box;
    }
    &__description {
        @include font(vw(18), 300, $color-white);
        font-family: $gotham;
    }
}

@media screen and (max-width: 425px) {
    .method {
        &__text {
            max-width: vmin(620);
        }
        &__title {
            font-size: vmin(30);
        }
        &__description {
            font-size: vmin(18);
        }
        &__img {
            width: vmin(180);
        }
    }
}

