.method {
    background: url(./img/method-bg.png) center no-repeat;
    align-items: center;
    padding: vw(100) 0 vw(90) 0;
    box-sizing: border-box;
    background-color: $color-black;
    background-size: 100%;
    &__text {
        max-width: vw(620);
        flex-direction: column;
        align-items: center;
    }
    &__title {
        @include font(vw(30), 300, $color-white);
        font-family: $gotham;
        padding: vw(40) 0;
        box-sizing: border-box;
    }
    &__description {
        @include font(vw(18), 300, $color-white);
        font-family: $gotham;
    }
}

@media screen and (max-width: 425px) {
    .method {
        padding: vmin(100) 0 vmin(90) 0;
        &__text {
            max-width: vmin(620);
        }
        &__title {
            font-size: vmin(30);
        }
        &__description {
            font-size: vmin(18);
        }
        &__img {
            width: vmin(180);
        }
    }
}

