.number{
    height: 100vmin;
    background: url(./img/hero-bg.png) center no-repeat;
    background-size: cover;
    font-family: $underground;
    color: white;
    .container{
        height: 100%;
    }
    &__wrapper{
        background: url(./img/number__img.png) center no-repeat;
        background-size: contain;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #141414;
        width: vw(1200);
        margin: 0 auto;
    }
    &__img{
        max-width: 100%;
    }
    &__info{
        font-size: vw(102);
        font-weight: 700;
        position: relative;
        &::before,&::after{
            position: absolute;
            content: "";
            border-radius: vw(100);
            background: #141414;
            width: vw(70);
            height: vw(70);
        }
        &::before{
            left: vw(-120);
            top: vw(40);
        }
        &::after{
            right: vw(-120);
            top: vw(40);
        }
    }
    &__title{
        margin-top: vw(80);
        font-size: vw(48);
        font-weight: 900;
    }
}